.start{
    text-align: center;
background-image: url(/home/ruth/visual-studio/gallery/tree.jpg);
height:550px;
background-size: cover;
background-repeat: no-repeat;
padding-top: 200px;
}
.body{
    text-align: center;
}
.service{
text-align: center;
background-image: url(/home/ruth/visual-studio/gallery/west.jpg);
color: white;
height: 300px;
padding-top:100px ;
background-size: cover;
}
.what{
    text-align: center;
}
#port1 img{
    width:100% ;
}
.portfolio{
    text-align: center;
}