.start{
    text-align: center;
background-image: url(../gallery/tree.jpg);
height:550px;
background-size: cover; 
background-repeat: no-repeat;
padding-top: 200px;
}
.body{
    text-align: center;
}
.service{
text-align: center;
background-image: url(../gallery/west.jpg);
color: white;
height: 300px;
padding-top:100px ;
background-size: cover;
}
.what{
    text-align: center;
}
#port1 img{
    width:100% ;
}
.portfolio{
    text-align: center;
}
.text1 {
    position: absolute;
    border: 2px solid white;
    background-color: white;
    width: 100px;
    top: 35%;
    left: 30%;
    right: 30%;
    display: none;
}
.text2 {
    position: absolute;
    border: 2px solid white;
    background-color: white;
    width: 100px;
    top: 35%;
    left: 30%;
    right: 30%;
    display: none;
}
.text3 {
    position: absolute;
    border: 2px solid white;
    background-color: white;
    width: 100px;
    top: 35%;
    left: 30%;
    right: 30%;
    display: none;
}
.text4 {
    position: absolute;
    border: 2px solid white;
    background-color: white;
    width: 100px;
    top: 35%;
    left: 30%;
    right: 30%;
    display: none;
}
.text5 {
    position: absolute;
    border: 2px solid white;
    background-color: white;
    width: 100px;
    top: 35%;
    left: 30%;
    right: 30%;
    display: none;
}
.text6 {
    position: absolute;
    border: 2px solid white;
    background-color: white;
    width: 100px;
    top: 35%;
    left: 30%;
    right: 30%;
    display: none;
}
.text7 {
    position: absolute;
    border: 2px solid white;
    background-color: white;
    width: 100px;
    top: 35%;
    left: 30%;
    right: 30%;
    display: none;
}
.text1 {
    position: absolute;
    border: 2px solid white;
    background-color: white;
    width: 100px;
    top: 35%;
    left: 30%;
    right: 30%;
    display: none;
}



.form{
    text-align: center;
    background-image: url(../gallery/save.jpg);
    background-size: cover;
color: white;
}
.form input{
    color: white;
}
.form textarea{
    color: white;
}
#day{
    display: none;
}
.icons{
    text-align: center;
}